.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-700);
  padding: 4.75rem 0;
}

.logo img {
  margin-top: 0.625rem;
  margin-right: 0.75rem;
  height: 2.25rem;
  width: 1.375rem;
}

.logoTextTo {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 900;
}

.logoTextDo {
  color: var(--purple);
  font-size: 2.5rem;
  font-weight: 900;
}

@media(max-width: 768px) {
  .logo {
    padding: 6.5rem 0;
  }

  .logo img {
    margin-top: 0.625rem;
    margin-right: 0.75rem;
    height: 3.25rem;
    width: 2.375rem;
  }
  
  .logoTextTo {
    color: var(--blue);
    font-size: 3.5rem;
    font-weight: 900;
  }
  
  .logoTextDo {
    color: var(--purple);
    font-size: 3.5rem;
    font-weight: 900;
  }
}