.zeroTasks {
  padding: 4rem;
  border-top: 1px solid var(--gray-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 46rem;
  margin: auto;
}

.zeroTasks img {
  height: 3.125rem;
}

.zeroTasksText {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media(max-width: 768px) {
  .zeroTasks {
    padding-left: 0;
    padding-right: 0;
  }

  .zeroTasks img {
    margin-top: 2rem;
    height: 6rem;
  }

  .zeroTasksText {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}